*{
    box-sizing: border-box;
}
table{
    text-align: center;
    border: 1px black solid;
    max-width:100%;
    width: 90%;
    border-collapse: collapse;
}
table tr>*{
    padding: 5px;
    border: 1px black solid;

}
button{
    align-self: center;
    width: 100%;
    background-color:lightsteelblue;
    color:#263c5a;
    font-weight: bold;
    border: none;
    border-radius:15px;
    height: 2rem;
}
button:hover{
    background-color:#81a1ca;
    color:#0f1824;
    cursor:pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container section{
    width: 25vw;
}