*{
    box-sizing: border-box;
}
table{
    text-align: center;
    border: 1px black solid;
    max-width:100%;
    width: 90%;
    border-collapse: collapse;
}
table tr>*{
    padding: 5px;
    border: 1px black solid;

}
button{
    width: 100%;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container section{
    width: 25vw;
}