.carContainer{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.btnRMCar{
    display: grid; 
    grid-template-columns: 40% 40%;
    gap: 20%;
}

.btnRMCar button {
    justify-self: center; /* Centra orizzontalmente */
    align-self: center;   /* Centra verticalmente */
}

.btnAddCar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}


#car-table-container {
    width: 100%;
    height: 15rem;
    overflow: auto;
}

.main-table{
    margin-top: 2rem;
}