.carContainer{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.error {
    color: red;
}

.gridBtnCar{
    margin-top: 2rem;
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 2rem;
}

.gridBtnCar button {
    justify-self: center;
    align-self: center;
}



#car-table-container {
    width: 100%;
    height: 15rem;
    overflow: auto;
}

.main-table{
    margin-top: 2rem;
}

.popupInput{
    width: 95% ;
    margin-bottom: 6%;
    margin-left: 1%;
}