h1{
    text-align: center;
}

#docSection{
    width: 70%;
    margin: 0 auto 20px 17em;
    display: flex; 
}

img{
    height: 100%;
    max-width: 100%;
}

#info{
    margin-left: 10%;
}

#options{
    text-align: center;
}

.infoLabel{
    font-weight: bold;
}

/* TODO: troppo grandi ?? */
/* button{
    width: 100px;
} */