img {
    height: 50px;
}

a,
a:visited {
    color: #263c5a;

}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #263c5a;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100%;
}

main {
    flex-grow: 1;
}

nav {
    background-color: lightsteelblue;
    display: grid;
    border-bottom: 1px solid black;
    padding: 10px;
    grid-template-columns: 40% auto auto 40%;
    position: sticky;
    top: 0;
}

.functions {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

}

footer {
    background-color: lightsteelblue;

    border-top: 1px solid black;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.dropbtn {
    padding: 1.5rem;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.dropdown:hover,
nav img:hover {
    background-color: #81a1ca;
    border-radius: 6px;
}

.dropdown {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {}

.icon {
    display: flex;
    align-items: center;
    align-content: left;
}

.log {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    align-content: right;
}